.my-card {
    border: 1px solid rgb(199, 189, 189);
    min-width: 240px;
    
}
.my-card img {
    max-width: 100%; 
    max-height: 300px; 
    object-fit: contain;
}
.carousel {
    display: flex;
    overflow-x: scroll;
   
} 
.cardInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .character-img {
    max-width: 100%; 
    max-height: 300px; 
    object-fit: contain;
 }